VITE_API_URL=https://{{ backend_domain }}
VITE_IMPRINT_ORGANIZATION_NAME={{ frontend_imprint_organization_name | default('Uranus') | quote }}
VITE_IMPRINT_STREET={{ frontend_imprint_street | default('Musterstrasse 1') | quote }}
VITE_IMPRINT_POSTAL_CODE={{ frontend_imprint_postal_code | default('00000') | quote }}
VITE_IMPRINT_CITY={{ frontend_imprint_city | default('Musterstadt') | quote }}
VITE_IMPRINT_COUNTRY={{ frontend_imprint_country | default('Deutschland') | quote }}
VITE_IMPRINT_PHONE={{ frontend_imprint_phone | default('+49 000 000000') | quote }}
VITE_IMPRINT_EMAIL={{ frontend_imprint_email | default(ssl_email) | quote }}
VITE_IMPRINT_WEBSITE={{ ('https://' ~ frontend_domain) | quote }}
VITE_IMPRINT_REPRESENTED_BY={{ frontend_imprint_represented_by | default('Max Mustermann') | quote }}
VITE_IMPRINT_REGISTER_COURT={{ frontend_imprint_register_court | default('Amtsgericht Musterstadt') | quote }}
VITE_IMPRINT_REGISTER_NUMBER={{ frontend_imprint_register_number | default('HRB 00000') | quote }}
VITE_IMPRINT_VAT_ID={{ frontend_imprint_vat_id | default('DE000000000') | quote }}
VITE_IMPRINT_CONTENT_RESPONSIBLE_NAME={{ frontend_imprint_content_responsible_name | default('Max Mustermann') | quote }}
VITE_IMPRINT_CONTENT_RESPONSIBLE_ADDRESS={{ frontend_imprint_content_responsible_address | default('Musterstrasse 1') | quote }}
VITE_IMPRINT_CONTENT_RESPONSIBLE_POSTAL_CODE={{ frontend_imprint_content_responsible_postal_code | default('00000') | quote }}
VITE_IMPRINT_CONTENT_RESPONSIBLE_CITY={{ frontend_imprint_content_responsible_city | default('Musterstadt') | quote }}
VITE_PRIVACY_HOSTING_PROVIDER={{ frontend_privacy_hosting_provider | default('Ihr Hosting Provider') | quote }}
VITE_PRIVACY_HOSTING_PROVIDER_ADDRESS={{ frontend_privacy_hosting_provider_address | default('Adresse des Providers') | quote }}
VITE_PRIVACY_HOSTING_PROVIDER_COUNTRY={{ frontend_privacy_hosting_provider_country | default('Deutschland') | quote }}
VITE_PRIVACY_DPO_NAME={{ frontend_privacy_dpo_name | default('') | quote }}
VITE_PRIVACY_DPO_EMAIL={{ frontend_privacy_dpo_email | default(ssl_email) | quote }}
VITE_PRIVACY_LAST_UPDATED={{ frontend_privacy_last_updated | default('1. Januar 2026') | quote }}
VITE_TERMS_LAST_UPDATED={{ frontend_terms_last_updated | default('1. Januar 2026') | quote }}
VITE_APP_VERSION={{ frontend_app_version | default('1.0.0') | quote }}
