NOMINATIM_DATABASE_DSN=pgsql:host={{ hostvars[nominatim_db_delegate_host].ansible_host | default(nominatim_db_delegate_host) }};dbname={{ nominatim_db_name }};user={{ nominatim_db_user }};password={{ nominatim_db_password }}
NOMINATIM_DATABASE_WEBUSER={{ nominatim_db_user }}
NOMINATIM_IMPORT_STYLE={{ nominatim_import_style }}
NOMINATIM_DEFAULT_LANGUAGE={{ nominatim_default_language }}
NOMINATIM_LANGUAGES={{ nominatim_languages | join(',') }}
