<network>
  <name>{{ item.name }}</name>
  <forward mode='nat'/>
  <ip address='{{ item.gateway }}' netmask='{{ item.netmask }}'>
    <dhcp>
      <range start='{{ item.dhcp_start }}' end='{{ item.dhcp_end }}'/>
    </dhcp>
  </ip>
</network>
