{
  "verbose": true,
  "dev_mode": {{ (app_env == 'development') | ternary('true', 'false') }},
  "port": {{ backend_port }},
  "base_api_url": "https://{{ backend_domain }}",
  "ics_domain": "{{ backend_domain }}",
  "use_router_middleware": true,
  "supported_languages": {{ backend_supported_languages | to_json }},
  "db_host": "{{ hostvars['db01'].ansible_host | default(db_host) }}",
  "db_port": 5432,
  "db_user": "{{ db_user }}",
  "db_password": "{{ db_password }}",
  "db_name": "{{ db_name }}",
  "db_schema": "{{ backend_db_schema }}",
  "ssl_mode": "disabled",
  "allow_origins": {{ backend_allow_origins | default(["https://" ~ frontend_domain, "https://" ~ backend_domain]) | to_json }},
  "profile_image_dir": "/opt/uranus/backend/profile_images",
  "profile_image_quality": {{ backend_profile_image_quality }},
  "pluto_image_dir": "/opt/uranus/backend/pluto/images",
  "pluto_cache_dir": "/opt/uranus/backend/pluto/cache",
  "pluto_image_max_file_size": {{ backend_pluto_image_max_file_size }},
  "pluto_image_max_px": {{ backend_pluto_image_max_px }},
  "pluto_verbose": true,
  "jwt_secret": "{{ backend_jwt_secret }}",
  "secret_key": "{{ backend_secret_key }}",
  "auth_token_expiration_time": {{ backend_auth_token_expiration_time }},
  "auth_smtp_host": "{{ backend_auth_smtp_host }}",
  "auth_smtp_port": {{ backend_auth_smtp_port }},
  "auth_smtp_login": "{{ backend_auth_smtp_login }}",
  "auth_smtp_password": "{{ backend_auth_smtp_password }}",
  "auth_reset_password_url": "https://{{ frontend_domain }}/reset-password",
  "auth_reply_email_address": "{{ backend_auth_reply_email_address }}",
  "smtp_host": "{{ backend_smtp_host }}",
  "smtp_port": {{ backend_smtp_port }},
  "smtp_login": "{{ backend_smtp_login }}",
  "smtp_password": "{{ backend_smtp_password }}"
}
