{
  "verbose": true,
  "dev_mode": {{ (app_env == 'development') | ternary('true', 'false') }},
  "port": {{ backend_port }},
  "base_api_url": "https://{{ backend_domain }}",
  "ics_domain": "{{ backend_domain }}",
  "use_router_middleware": true,
  "supported_languages": {{ backend_supported_languages | to_json }},
  "db_host": "{{ hostvars['db01'].ansible_host | default(db_host) }}",
  "db_port": 5432,
  "db_user": "{{ db_user }}",
  "db_password": "{{ db_password }}",
  "db_name": "{{ db_name }}",
  "db_schema": "{{ backend_db_schema }}",
  "ssl_mode": "disable",
  "allow_origins": ["https://{{ frontend_domain }}", "https://{{ backend_domain }}"],
  "profile_image_dir": "/opt/uranus/backend/profile_images",
  "pluto_verbose": true,
  "pluto_image_dir": "/opt/uranus/backend/pluto/images",
  "pluto_cache_dir": "/opt/uranus/backend/pluto/cache",
  "jwt_secret": "{{ backend_jwt_secret }}",
  "secret_key": "{{ backend_secret_key }}",
  "auth_token_expiration_time": 600,
  "auth_reset_password_url": "https://{{ frontend_domain }}/reset-password",
  "auth_reply_email_address": "{{ ssl_email }}"
}
